.generateRosterContainer{
    background-color:rgb(255, 255, 255);


    max-width: 100%;
    background-image:linear-gradient(to bottom, rgba(12, 23, 218, 0.22), rgba(74, 206, 229, 0.23)),url(../assets/background.jpg);
    background-size: auto;
    border-image-repeat: stretch;
    background-size: cover;
    margin-top: 3.5rem;
}
.MDBInput{
    font-weight: bold;
    font-size: large;

}
/* .py-5{
    width: 50%;
    border-style: solid;
    padding: 10px;
    margin-top: 5px;
}
@media screen and ( max-width: 800px){
    .py-5{
        width: 100%;
    }
} */