.generateRosterContainer{
    background-color:rgb(255, 255, 255);
    width: 100%;
    margin-top: 3.5rem;
}
/* .py-5{
    width: 50%;
    border-style: solid;
    padding: 10px;
    margin-top: 5px;
}
@media screen and ( max-width: 800px){
    .py-5{
        width: 100%;
    }
} */