
.main-login{
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    border-color: black;
  
    background:linear-gradient(90deg, #17bde2 50%, #0cd4e7 50%);
    background: linear-gradient(to right bottom, rgba(223,221,221) 50%);
}
.login-container{
    height: 75vh;
    width:70%;
    /* background-color: rgb(34, 177, 199); */
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(10, 50, 182, 0.4)); 
    border-radius: 1rem;
    margin: 2rem auto;
    box-shadow:0.5 rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.left-side{
    margin: 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2 rem 1rem rgba(58, 57, 57, alpha);
    height: 80%;
    width: 100%;
    /* background: wheat; */
}

.right-side{
    /* background-color: rgb(144, 144, 175); */
    margin: 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(21, 15, 100);
    height: 80%;
    width: 100%;
    align-items: center;
}
.left-side{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(21, 15, 100);
    
}
.img-class{
    
    height: 25%;
    width: 80%;
    margin: 0rem auto;
    margin-top: 2.3rem;
    
}
.img-class>img{

    
    
    width: 100%;
    object-fit:cover ;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-side>form>input{
    display: block;
    outline:none;
    border: none;
    height: 2rem;
    width: 100%;
    margin: auto;
    margin-bottom: 0.5rem;
    padding: 0.2rem 1rem;
    color:rgb(46, 127, 198);
    border-radius: 6px;
    transition: all 0.3s;
}
.left-side>form>input>placeholder{
    color: black    ;
}
.left-side>form>input:hover{
    outline: 0.5px solid;
    box-shadow: 4px 3px 9px -1px black;
}
.left-side>form>label{
    display: block;
    margin: auto;
    float: left;
    text-align: left;
    width: 78%;
    font-size: medium;
    color:rgb(28, 8, 154);
    margin-bottom: 0.7rem;

}
.left-side>form>button{
    width: 80%;
    background: #0cd4e7;
    color:rgb(28, 8, 154);
    border: none;
    border-radius: 3rem;
    cursor:pointer;
    padding: 0.5rem 1rem;
    transition: all 0.5 ease;
    margin-top: 20px;
    font-size: bold;
    box-shadow: 4px 3px 9px -1px black;
}
.left-side>form>button:hover{
    box-shadow: 4px 3px 9px -1px rgb(43, 5, 181);
    
    transform: translateY(-5px)  ;
}
.welcome-img{
    height: 80%;
    width: 70%;
    margin: 0rem auto;
    margin-top: 2.85rem;
    margin-bottom: 2.3rem;
}
.welcome-note{
    float: center;
    color: rgb(28, 8, 154);
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: center;
}
.welcome-img #wel-img-id{
    width: 100%;
    object-fit:cover ;
}
@media screen and (max-width: 900px) {
    .login-container{
        height: 75vh;
        width:70%;
        /* background-color: rgb(34, 177, 199); */
        background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(10, 50, 182, 0.4)); 
        border-radius: 1rem;
        margin: 2rem auto;
        box-shadow:0.5 rem;
        display: inline;
        justify-content: center;
        align-items: center;
        
    
    }
    .left-side{
       
        align-items: center;
        display: static;
        justify-content: center;
        box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(21, 15, 100);
        
    }
  }