*{
   
}
.form-containner{
   display: flex;
   justify-content: space-between;
   max-width: 100%;
   margin:auto ;
   padding-top: 10px;

   border: 2px;
   align-items: center;
}
.form{
   justify-content: space-between;
   max-width: 80%;
   margin:auto ;
   display: flex;
   padding-left: 10%;
}
.row{
   justify-content: space-between;
   display: flex;
   flex-direction: row;
}