.roster_topic{
    color: aqua;
}

.requestButton-filter{
    margin-top: 20px;
    margin-right: 10rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.requestButton{
    width:12rem;
}

.filter-bar{
    width:12rem;
}

@media screen and (max-width: 800px){
    .requestButton-filter{
        flex-direction: column;
        justify-content: center;
        
    }

    .requestButton{
        margin-top: 2rem;
        align-self: center;
    }

    .filter-bar{
        align-self: center;
    }
}



