.rosterContainer{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 40px;
    background-color: rgb(20, 20, 106);
}

.requestButton{
    margin-top: 20px;
    margin-right: 10rem;
    display: flex;
    justify-content: right;
}

