.individual_roster_month_week{
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

@media screen and (max-width: 850px) {
    .individual_roster_month_week {
        margin-right: 1rem;
        margin-left: 1rem;
    }

}

@media screen and (max-width: 500px) {
    .individual_roster_month_week {
        margin-right: 0rem;
        margin-left: 0rem;
    }

}