
.wardSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.ward-detail-container{
    background-color:rgb(8, 70, 213) ;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 3rem;
}

.data-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ward-det{
    margin-left: 7rem;
}

.doc-det{
    margin-right: 12rem;
}

.doc-topic{
    font-size: 1.2rem;
    color: white;
}

.ward-detail-p{
    color: white;
    font-size: 1.2rem;
}
.const-detail-p{
    color: white;
    margin-left: 2rem;
}


.doc-detail{
    color: white;
}

.doc-sub-detail{
    color: white;
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-top: -1rem;
}

@media screen and (max-width: 1050px){
    .ward-det {
        margin-left: 6rem;
    }
    
    .doc-det {
        margin-right: 7rem;
    }
}

@media screen and (max-width: 900px) {
    .ward-det {
        margin-left: 5rem;
    }

    .doc-det {
        margin-right: 5rem;
    }
}


@media screen and (max-width: 800px) {
    .ward-detail-container {
        margin-right: 0rem;
        margin-left: 0rem;

    }
}

@media screen and (max-width: 700px){

}

