.container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 100%;
    align-self: center;
    justify-content: center;
}

.userSelector{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
    background-color: rgb(192, 240, 246);
}

.form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 70%;
    background-color: rgb(192, 240, 246);
    margin-top: 50px;
}