.ward-roster-section{
    margin-top: 3.7rem;
    /* min-height: 150vh !important; */
    background-image: linear-gradient(to bottom, rgba(12, 23, 218, 0.22), rgba(74, 206, 229, 0.23)), url(../assets/background.jpg);
}

.ward-requestButton-filter {
    margin-top: 20px;
    margin-right: 10rem;
    margin-left: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ward-requestButton {
    width: 12rem;
}

.legend_roster-ward {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.legend-color-ward {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin-right: 0.7rem;
    position: relative;
    top: 0.3rem;
}
.legend-container-ward {
    display: flex;
    flex-direction: row;
    margin-right: 1.5rem;
}


@media screen and (max-width: 1100px) {
    .ward-requestButton-filter {
        flex-direction: column;
        justify-content: center;
    }

    .legend_roster-ward {
        align-self: center;
        margin-top: 1.5rem;
        margin-bottom: -0.8rem;
    }

    .ward-requestButton {
        align-self: center;
        margin-top: 0.5rem;
    }

}

@media screen and (max-width: 700px) {
    .legend-color-ward {
        width: 1rem;
        height: 0.9rem;
        border-radius: 0.5rem;
    }
}

@media screen and (max-width: 650px) {
    .legend-color-ward {
        width: 1rem;
        height: 0.7rem;
        border-radius: 0.5rem;
    }
}
